image: Visual Studio 2022
version: 3.0.{build}.0  # check assembly_version below when changing
pull_requests:
  do_not_increment_build_number: true
configuration: Release
shallow_clone: true
dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: '{version}'
  package_version: '{version}'
  assembly_version: '3.0.{build}.0'
  file_version: '3.0.{build}.0'
  informational_version: '{version}'
nuget:
  account_feed: true
  project_feed: true
before_build:
- cmd: nuget restore
build:
  publish_nuget: true
  include_nuget_references: true
  verbosity: minimal
deploy: off