<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Assembly" value="C:\Source\LightBlue\TestWorkerRole\bin\Debug\TestWorkerRole.dll"/>
    <add key="RoleName" value="TestWorkerRole"/>
    <add key="ServiceTitle" value="TestWorkerRoleService"/>
    <add key="ConfigurationPath" value="C:\Source\LightBlue\TestWorkerRole\app.config"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
</configuration>
